// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #747980;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@txt-color: #e4edf7;
@bg-color: #2a323a;
@gt-bg-color: #232a31;
@gt-bg-color-selected: #1b2127;

@cyan: #3d9484;
@blue: #4a75b9;
@purple: #a66fb7;
@green: #5bca9d;
@red: #cc6666;
@orange: #f59755;
@light-orange: #f0c674;

@light-blue: #87c2f9;
@light-purple: #cf94dc;
@pink: #da85b8;
